<%- contentFor('Content') %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= cont.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= cont.email %></h6>
      <p class="card-text"><%= cont.phone %></p>
    </div>
</div>